# Ignore everything
*

# But not these
!.gitignore
!/btcc/
!btcc/CustomPluginVariables.JSON
!btcc/btcc.JSON
!btcc/Multiplayer.JSON
!/endurance/
!endurance/CustomPluginVariables.JSON
!endurance/endurance.JSON
!endurance/Multiplayer.JSON
!/player/
!player/CustomPluginVariables.JSON
!player/player.JSON
!player/Multiplayer.JSON
!/stockcar/
!stockcar/CustomPluginVariables.JSON
!stockcar/stockcar.JSON
!stockcar/Multiplayer.JSON
!/support/
!support/CustomPluginVariables.JSON
!support/support.JSON
!support/Multiplayer.JSON
!/rfactor 2 (Scripts and Mod Files)/
!/rfactor 2 (Scripts and Mod Files)/*
rfactor 2 (Scripts and Mod Files)/download_rf2_workshop.bat